<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="icon" href="/logo.png" type="image/png">

    <style>
        html, body {
            overflow-x: hidden; 
            margin: 0;
            padding: 0; 
        }

        .nav {
            margin-top: 0;
            position: fixed;
            width: 100%;
            top: 0;
            background-color: #4a90e2;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1000; 
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            margin: 0;
            padding: 1rem;
        }

        .users {
            margin-top: 120px; 
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            width: 80%;
            max-width: 500px;
            color: #fff;
            padding: 1.5rem;
            margin-bottom: 1rem;
            border-radius: 10px;
            font-size: 1.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
        }

        li:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        li span {
            font-weight: bold;
        }

        li i {
            margin-right: 1rem;
            font-size: 1.5rem;
        }

        .top-user {
            
            background: linear-gradient(145deg, 
                #fdd835, 
                #fbc02d 20%, 
                #ffeb3b 40%, 
                #fbc02d 60%, 
                #ff9800 80%, 
                #f57c00 100% 
            );
            color: #000;
        }

        .top-user i {
            color: #000;
        }

        .top-user .fa-medal {
            margin-left: 10px;
            color: black;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }

            li {
                font-size: 1.2rem;
                padding: 1rem;
            }

            .users {
                margin-top: 100px; 
            }
        }

        @media (max-width: 480px) {
            h1 {
                font-size: 1.8rem;
            }

            li {
                font-size: 1rem;
                padding: 0.8rem;
            }

            li i {
                font-size: 1.2rem;
            }

            .users {
                margin-top: 90px; 
            }
        }
    </style>
</head>
<body>
    <h1 class="nav">Leaderboard</h1>
    <div class="users">
        <ul>
            <% const colors = ['#e74c3c', '#3498db', '#2ecc71', '#f29143']; %>
            <% let topUser = users.reduce((prev, current) => (current.maxLevel > prev.maxLevel) ? current : prev); %>
            <% users.forEach((user, index) => { 
                const color = colors[index % colors.length];
                const isTopUser = user.username === topUser.username;
            %>
            <li class="<%= isTopUser ? 'top-user' : '' %>" style="background-color: <%= !isTopUser ? color : '' %>;">
                <i class="fas fa-user"></i> 
                <span><%= user.username %></span> - Highest Level: <span><%= user.maxLevel %></span>
                <% if (isTopUser) { %>
                    <i class="fas fa-medal"></i>
                <% } %>
            </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
