@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; 
  margin: 0;
  padding: 0; 
  font-family: Arial, sans-serif; 
}

.nav {
  margin-top: 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #4a90e2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.users {
  margin-top: 160px; 
}

.search-container {
  position: relative;
  width: 90%; 
  max-width: 500px; 
  margin: 0 auto 20px; 
}

#searchInput {
  width: 100%; 
  padding: 10px 40px; 
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  outline: none; /* Remove outline */
}

#searchInput:focus {
  border-color: #3498db; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Add shadow on focus */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa; 
}

.search-icon:hover {
  color: #3498db; 
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  width: 90%; 
  max-width: 500px; 
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

li span {
  font-weight: bold;
}

li i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.top-user {
  background: linear-gradient(145deg, 
    #fdd835, 
    #fbc02d 20%, 
    #ffeb3b 40%, 
    #fbc02d 60%, 
    #ff9800 80%, 
    #f57c00 100% 
  );
  color: #000;
}

.top-user i {
  color: #000;
}

.top-user .fa-medal {
  margin-left: 10px;
  color: black;
}

.play-again-btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  right: 1rem;
}

.play-again-btn:hover {
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out; 
}


#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
  width: 60px;  
  height: 60px; 
  border-radius: 50%; 
  background-color: #4a90e2; 
  color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.5s; /* Added transform for smooth effect */
}


@keyframes moveUp {
  0% {
    transform: translateY(20px); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}


#btn-back-to-top.show {
  display: block; 
  animation: moveUp 0.5s ease-out forwards;
}

#btn-back-to-top:hover {
  background-color: #4a90e2; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
  transform: scale(1.1); 
}

#btn-back-to-top i {
  font-size: 24px; 
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  li {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .users {
    margin-top: 138px; 
  }

  #searchInput {
    font-size: 0.9rem; 
  }

  .search-container {
    width: 95%; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  li {
    font-size: 1rem;
    padding: 0.8rem;
  }

  li i {
    font-size: 1.2rem;
  }

  .users {
    margin-top: 135px; 
  }

  .nav-content {
    gap: 10px;
  }

  #searchInput {
    padding: 8px 35px; 
    font-size: 0.8rem; 
  }
}
